<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b40c5dd450.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
    <script src="index.js" defer></script>
    <title>GameC</title>
</head>

<body>
    <nav class="nav-bar">
        <div class="nav-logo">
            <img src="/logo.png" class="logo">
        </div>
        <a href="#" class="menu-btn">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>
        <ul class="nav-list">
            <a href="/index"><li>Home</li></a>
            <a href="/trending"><li>Trending</li></a>
            <a href="/"><li>Log Out</li></a>
        </ul>
    </nav>

    <div class="view-box">
        <div class="box-title"><span>New Releases</span></div>
        <div class="box-item">
            <div class="big-item">
                <img src="/images/SF.jpg" class="promote-item">
            </div>
            <div class="small-item">
                <img src="/images/Tekken7.jpg" class="promote-item">
            </div>
            <div class="small-item2">
                <img src="/images/mk11.jpg" class="promote-item">
            </div>
        </div>
    </div>

    <div class="view-box">
        <div class="box-title"><span>Upcoming Games</span></div>
        <div class="box-item">
            <div class="big-item">
                <img src="/images/rachet&clank.jpg" class="promote-item">
            </div>
            <div class="small-item">
                <img src="/images/ori.jpg" class="promote-item">
            </div>
            <div class="small-item2">
                <img src="/images/knockout.jpg" class="promote-item">
            </div>
        </div>
    </div>

    <div class="view-box">
        <div class="box-title"><span>On Sales</span></div>
        <div class="box-item">
            <div class="big-item">
                <img src="/images/Mario.jpg" class="promote-item">
            </div>
            <div class="small-item">
                <img src="/images/BF.jpg" class="promote-item">
            </div>
            <div class="small-item2">
                <img src="/images/DW.jpg" class="promote-item">
            </div>
        </div>
    </div>

    <div class="footer">
        <h1>Contact Us</h1>
        <div class="contact-details">
            <ul>
                <a href="https://twitter.com/home?lang=en"><li><i class="fab fa-twitter"></i></li></a>
                <a href="https://www.linkedin.com/in/richard-nguyen-773bbb180" target="_blank"><li><i class="fab fa-linkedin"></i></li></a>
                <a href="tel:0433-522-985"><li><i class="fas fa-phone"></i></li></a>
            </ul>
        </div>
    </div>
    
</body>

</html>