<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="homestyle.css">
    <script src="loginform.js" defer></script>
    <title>Home Page</title>
</head>
<body>
    <div class="logo">
        <img src="/logo.png" class="logo-img">
    </div>
    <div class="logo2">
        <img src="/logo.png" class="logo-img">
    </div>
    <div class="title">
         <h1>Welcome To GameC</h1>
    </div>

    <div class="login-form" id="l-form">
        <div class="close-btn loginform-btn">
            <span class="">&#10006</span>
        </div>
        <form action="/login" method="POST">
            <div class="form-title">Log In</div>
            <div class="form-text">
                <span>Username</span>
            </div>
            <div class="form-input">
                <input type="text" name="name" id="name" required autocomplete="off">
            </div>
            <div class="form-text">
                <span>Password</span>
            </div>
            <div class="form-input">
                <input type="password" name="password" id="password" required>
            </div>
            <div class="submit-btn">
                <button type="submit" class="form-btn">Log In</button>
            </div>
        </form>
    </div>
</body>
</html>