<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css">
    <title>Profile</title>
</head>
<body>
    <div class="nav-bar">
        <img src="/public/logo.png" class="logo">
        <ul>
            <a href="/views/index.ejs"><li>Home</li></a>
            <a href="/views/trending.html"> <li>Trending</li></a>
            <a href="/views/profile.html"> <li>My Profile</li></a>
        </ul>
    </div>
    <div class="profile">
        <div class="user-info"> 
            <div class="username">
                <span>Hi ...</span>
            </div>
        </div>
    </div>
</body>
</html>